<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>How To Resell limited products like Sneakers</h1>
            <hr>
            <p>Start earning money with our awesome training books.</p>
            <p>'How To Cop Sneakers & stuffs' is our first ebook : You will learn anything you have to know to make your business grow</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Download the ultimate Resell Guide : Sneaker Edition</a>
        </div>
    </div>
</header>
